  <aside class="bg-dark">
      <div class="container text-left">
          <div class="call-to-action">
              <center><h2>DETAILS</h2></center>
              <hr>

              <font color= #a7cee8><h2>About</h2></font>  <p>ON THIS YEAR, the 7th year of the Weezy, the 7 gates of hell creak open to reveal the most blood-curdling being of them all: ☠️🐏THE GRIM SHEEPER. </p>

                <p>Come if you dare, for the GOAT team has some new tricks up our hooves. DRINK vile potions and the blood of innocents, please support our gracious hosts and help us make this a sustainable event by bellying up to the Stingrayz bar. You may also search out the Spookeazy, but rumor has it that those who find it are never the same.</p>

              <p> Attend if ewe dare, for the GOAT team has some new tricks up our hooves. You may expect to:</p>
                <li> DANCE your ghoulish faces off to spooky tunes</li>
                <li> DJ Ms Manners: <a href="http://bit.ly/MsManEATER">http://bit.ly/MsManEATER</a></li>
                <li> Pretty  Perez: <a href="https://bit.ly/2P1gq9u">bit.ly/2P1gq9u</a></li>
                <li> and more💫 </li></p>

              <p> FOLLOW THE RULES OR BE SHEERED: Practice consent, including photographic consent. </p>

              </p> No costume, no entry ☠️</p>

                <br>
              <font color= #a7cee8><h2>Where</h2></font> <p> <a href "https://goo.gl/maps/NxdCTS4gdceuG6JeA> Sting Rayz, 23000 Cranmore Rd, Knights Landing, CA 95645</a></p>
              <font color= #a7cee8><h2>Camp</h2></font>
              <p> REST your weary bones in the Tent City of the Dead:
              Camping on the property for the evening is included. Weird and positive community vibes required.</p> 

               <font color= #a7cee8><h2>Donation</h2></font>
               <p>Spring lamb entry is $20 (before 10/28), muttons (after 10/28) are $25. Venmo: @tyler_Whitmire or cash at the door. </p>

                <p>Feel free to give more! With the support of all weezies, we have donated $4,200 so far to the Undocufund, which supports undocumented people who lost their homes to wildfires. </p>
              
              <p>This year, all proceeds will be going to Raices, an organization that provides free and low-cost legal services to the underserved immigrant and refugee families and children.
              <a href ="https://www.raicestexas.org/#" > www.raicestexas.org</a></p>




          </div>
      </div>
  </aside>
