  <aside class="bg-dark">
      <div class="container text-left">
          <div class="call-to-action">
              <center><h2>Details</h2></center>
              <hr>
              <h3>About</h3>  ON THIS YEAR, the 7th year of the Weezy, the 7 gates of hell creak open to reveal the most blood-curdling being of them all: ☠️🐏THE GRIM SHEEPER. Come if you dare, for the GOAT team has some new tricks up our hooves. DRINK vile potions and the blood of innocents, please support our gracious hosts and help us make this a sustainable event by bellying up to the Stingrayz bar. You may also search out the Spookeazy, but rumor has it that those who find it are never the same.</p>
              <h3>Where</h3> Sting Rayz, 23000 Cranmore Rd, Knights Landing, CA 95645</p>
              <h3>Camp</h3> REST your weary bones in the Tent City of the Dead:
              Camping on the property for the evening is included. Weird and positive community vibes required.

              </p> No costume, no entry ☠️</p>

<!-- 

              <p>7 years ago, 4 witches, 2 elfs, and an unsuspecting farm boy slayed a pig in the shadow of a Yolo County barn and proclaimed it to be Halloweezy 1: Donkeypocalypse. Since then we've been gored by the Poltergoat, hexed by the Wiccan Chickens, and cuckolded by the Apocalypse Cow (she's a looker).</p>

          

              </p>DANCE your ghoulish faces off to spooky tunes<p>
              </p>DJ Ms Manners: http://bit.ly/MsManEATER<p>
              </p>Pretty Perez: https://bit.ly/2P1gq9u<p>
              </p>and more💫<p>
           
              </p>DRINK vile potions and the blood of innocents:<p>
              </p>Please support our gracious hosts and help us make this a sustainable event by bellying up to the Stingrayz bar. You may also search out the Spookeazy, but rumor has it that those who find it are never the same.<p>
              
              </p>REST your weary bones in the Tent City of the Dead:
              Camping on the property for the evening is included. Weird and positive community vibes required.<p>

              </p>FEAST upon the flesh of late night blintzes, and unsuspecting morning tacos. (for all those taco-starved last year-- we've got a new taco partner).<p> -->

             


          </div>
      </div>
  </aside>
