<header>

<style type="text/css">
    h3.detail { color:#AEB6BF }
    h1.detail { color:#AEB6BF }
</style>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>#halloweezy7:</h1>
            <h1>The Grim Sheeper</h1>
                        <hr>
            <H3 class = "detail">Saturday November 2-3, 2019</H3>
            <H3 class = "detail">at Sting Rayz</H3>
            <br>
             <a href="https://www.instagram.com/halloweezy7/">
            <img border="0" alt="W3Schools" src="img/instagram.png" width="40"></a>
            <br>
            <br>
            <H4 class = "detail">Sign up to volunteer <a href="https://docs.google.com/spreadsheets/d/1M6MVYBFAKwgC0CzPvAi2Bb8XF7yfMe6I53KCrfxhGV0/edit?usp=sharing">here</a> </H4>
        </div>
    </div>
</header>
